


.container{
    background: linear-gradient(#29b6f6 , #64ffda);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 52px;
    width: 100%;
}

.navbar {
    display: inline !important;
}

.nav-items a{
    color: #fff;
    font-size: 18px;
    text-transform:uppercase;
    text-decoration: none;
    margin: 50px;
}

h2{
    color: #000000;
    font-size: 1rem;
    padding: 0;
    position: relative;
}
h2::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 7px;
    background-color: #263238  ;
    left: 50%;
    bottom: -10px;
    transition: all 0.3s ease-in-out;
}
h2:hover{
    cursor: pointer;
}
h2:hover::after {
    cursor: pointer;
    width: 100%;
    left: 0;

}
.icon{
    text-decoration: none;
    width: 50px;
    height: 50px;
    background-color: #cb611a;
    color: #fff;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px #64ffda;
}

.is-primary{
    display: inherit;
    padding-top: 0px;
}

.input-header{
    border-radius: 20px;
    width: 100%;
    padding: 13px 150px 13px 10px;
}
.logo-header{
    border-radius: 50%;
    align-self: flex-start;
}
.navbar-brand{
    align-items: center;
    background: black; 
    display: flex;
    justify-content: space-around;
    padding: 0px;
    height: 8rem;
    margin-right: 0px;
    width: 100%;
  
    
}
.ai {
    background: linear-gradient(#29b6f6 , #64ffda);
    font-size: x-large;
    text-decoration: none;
    padding: 9px 38px 12px;
    align-self: baseline;
    text-transform: uppercase;
    border-radius: 0 8px;
    font-weight: bolder;
    margin: 0 1.5rem;

}
a:hover {
    color: #fff;
}

@media (max-width: 1400px){
.container{
    width: 100%;
}
}

@media (max-width: 768px){
.container {
    width: 100%;
}
}

@media (max-width: 480px){
.container {
    width: 100%;
}
}






