.navbar-brand-footer{
    align-items: center;
    background-color: #616161  ;
    display: flex;
    justify-content: space-between;
    padding: 0 100rem;
    height: 8rem;
    
    
}
img{
    height: 60px;
}
.aio, .aho, .ahor{
    color: rgb(0, 0, 0);
    font-size: x-large;
    text-decoration: none;
    padding: 10px;
    
}

a:hover {
    color: #000000;
}


