.navbar-brand-footer{
    align-items: center;
    background-color: #263238;
    display: flex;
    justify-content: space-evenly;
    height: 12rem;
    width: 100%;
}
.is-primary-footer{
    width: 100%;
}
img{
    height: 60px;
}
.aio{
    color: rgb(0, 0, 0);
    font-size: x-large;
    text-decoration: none;
    padding: 10px; 
    filter: contrast(0.5);
}
.aho{
    border-radius: 10%;
}

.aio:hover {
    filter: none;
}


