.App {
    text-align: center;
}
.App-header {
    background-color: #282c34;
    align-items: center;
    justify-content: center;
    font-size: medium;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    }

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 6px 16px 0 rgba(158, 158, 158, 0.959);
    transition: 0.3s;
    width: 25rem;
    margin: 1rem;
    
    
}

  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0px 10px 10px 0px rgba(125, 243, 47, 0.918);
}
.container{
    background-color: rgb(167, 167, 167);
    height: 20rem;
    padding: 3.5rem;
    border-radius: 5%;
    
}

.imagen{
    margin: 10px;
    height: 10rem;
    width: 10rem;
}

p{ 
    color: black;
    list-style: none;
}

